<ion-view view-title="About">
  <ion-content align="center" class="padding">
        <h4>Contact me</h4>
        <button class="bounceIn button button-full button-outline ion-email" id="settingbtn"
             onclick="window.open('mailto:beneaves01@hotmail.com')">
        </button>
        <br><br><br><br>
		
		<h4>My Website</h4>
        <button class="bounceIn button button-full button-outline ion-social-github" id="settingbtn"
            onclick="window.open('https://angeal185.github.io', '_system', 'location=yes'); return false;">
        </button>
        <br><br><br><br>
		
		<h4>My Codepen</h4>
        <button class="bounceIn button button-full button-outline ion-social-codepen" id="settingbtn"
            onclick="window.open('https://codepen.io/angeal185/', '_system', 'location=yes'); return false;">
        </button>
        <br><br><br><br>
		
		<h4>My Linkedin</h4>
        <button class="bounceIn button button-full button-outline ion-social-linkedin" id="settingbtn"
            onclick="window.open('https://www.linkedin.com/in/ben-eaves-996991125', '_system', 'location=yes'); return false;">
        </button>

        <br><br><br><br><br>
        <h4 align="center">2017 Ben Eaves</h4>
    </ion-content>
</ion-view>
